<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SMTP Server" value="xxx" />
    <add key="SMTP Port" value="xx" />
    <add key="Sender Address" value="xxx@xxx.xxx" />
    <add key="Mail Recipients" value="xxx@xxx.xxx" />
    <add key="Bulletin Days to Check" value="14" />
    <add key="Exploit Days to Check" value="365" />
    <add key="CERT Alerts URI" value="https://www.us-cert.gov/ncas/alerts.xml" />
    <add key="Trend URI" value="https://feeds.feedburner.com/MalwareAdvisories" />
    <add key="Exploit DB CSV" value="https://raw.githubusercontent.com/offensive-security/exploit-database/master/files.csv" />
    <add key="Symantec URI" value="https://www.symantec.com/xml/rss/listings.jsp?lid=latestthreats30days" />
    <add key="0day.today URI" value="http://en.0day.today/rss" />
    <add key="BugTraq URI" value="http://seclists.org/rss/bugtraq.rss" />
    <add key="Full Disclosure URI" value="http://seclists.org/rss/fulldisclosure.rss" />
    <add key="NVD URI" value="https://nvd.nist.gov/download/nvd-rss.xml" />
    <add key="Packet Storm URI" value="https://rss.packetstormsecurity.com/files/" />
    <add key="ZDI URI" value="https://feeds.feedburner.com/ZDI-Published-Advisories" />
  </appSettings>
</configuration>